@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  box-sizing: border-box;
  word-spacing: 0.375rem; /* The font we're using has really tight word spacing so this will give it more space to breathe */
}

.nes-btn {
  /* This fixes a bug in NES.css */
  border-image-repeat: stretch !important;
}