@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  box-sizing: border-box;
  word-spacing: -0.25rem;
}

.nes-btn {
  /* This fixes a bug in NES.css */
  border-image-repeat: stretch !important;
}